* {
  box-sizing: border-box;
}

body {
  margin: auto;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}

.img-cl {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 120px;
  height: 120px;

}

footer {
  width: 100%;
  height: 100px;
  background: linear-gradient(to left, #004c99, #a60042, transparent);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);
}


footer p {
  text-align: center;
  padding: 20px;
  color: whitesmoke;
  font-weight: bolder;
  text-transform: uppercase;
}


.links {
  margin-right: 6rem;
  text-align: center;
}

.links-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

li {
  margin-left: 5rem;
  list-style: none;
}

li>a {
  text-decoration: none;
  color: #004c99;
  padding: 20px;
}

li>a:hover {
  color: #a60042;
  font-weight: bolder;
  background-color: #004c99;
  transition: all 0.4s;
}

p {
  text-align: justify;
}